:8080 {
	root * /srv
	encode zstd gzip

	handle_path /game/* {
		root * /game
		file_server
	}

	@root path /
	rewrite @root /status.html

	header {
		Cache-Control "no-store"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}

	file_server
}
